<div>
  <div>
    <h1>
      Service location #<%= @the_service_location.id %> details
    </h1>

    <div>
      <div>
        <a href="/service_locations">
          Go back
        </a>
      </div>

      
    </div>

    <dl>
      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @the_service_location.neighborhood_id %>
      </dd>

      <dt>
        Service provider
      </dt>
      <dd>
        <%= @the_service_location.service_provider.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_service_location.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_service_location.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>





