<div>
  <div>
    <h1>
      Offering #<%= @the_offering.id %> details
    </h1>

    <div>
      <div>
        <a href="/offerings">
          Go back
        </a>
      </div>

      
    </div>

    <dl>
      <dt>
        Service
      </dt>
      <dd>
        <%= @the_offering.service.name %>
      </dd>

      <dt>
        Service provider
      </dt>
      <dd>
        <%= @the_offering.service_provider.name %>
      </dd>

      <dt>
        Favorites count
      </dt>
      <dd>
        <%= @the_offering.favorites_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_offering.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_offering.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>





