<div>
  <div>
    <h1>
      List of all favorites
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new favorite
    </h2>

    <form action="/insert_favorite" method="post">
      <div>
     

        <input type="hidden" id="user_id_box" name="query_user_id" value=<%=@current_user.id%>>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

   

      <div>
        <label for="offering_id_box">
          Offering
        </label>

      

<select name="query_offering_id" id="offering_id_box">
  <% Offering.all.each do |off|%>
  <option value="<%=off.id%>""><%= off.service.name %> by <%= off.service_provider.name%></option>
  
  <%end%>
</select>
       

      <button>
        Create favorite
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
     
        <th>
          Notes
        </th>

        <th>
          Offering
        </th>

        
        
      </tr>

      <% @list_of_favorites.each do |a_favorite| %>
      <tr>
      

        <td>
          <%= a_favorite.notes %>
        </td>

        

        <td>
          <%= a_favorite.offering.service.name %> by <%= a_favorite.offering.service_provider.name%>
        </td>

        <td>
          <a href=/service_providers/<%= a_favorite.offering.service_provider.id %>">
            <%= a_favorite.offering.service_provider.name %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
