<div>
  <div>
    <h1>
      <%= @the_favorite.offering.service.name %> by <%= @the_favorite.offering.service_provider.name %> details
    </h1>

    <div>
      <div>
        <a href="/favorites">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_favorite/<%= @the_favorite.id %>">
          Delete favorite
        </a>
      </div>
    </div>

    <dl>
      <dt>


      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_favorite.notes %>
      </dd>



      <dt>
        Offering
      </dt>
      <dd>
        <%= @the_favorite.offering.service.name %> by <%= @the_favorite.offering.service_provider.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit favorite
    </h2>



<form>
      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_favorite.notes %></textarea>
      </div>





      <button>
        Update notes
      </button>
    </form>
  </div>
</div>

<hr>
