<div>
  <div>
    <h1>
      List of all service providers
    </h1>
  </div>
</div>

<hr>



<div>
  <div>
    <table>
      <tr>
        

        <th>
          Name
        </th>



        <th>
          Image
        </th>



        <th>
          Email
        </th>

        <th>
          Phone
        </th>

        <th>
          Service locations
        </th>

        <th>
          Offerings
        </th>

        <th>
          Reviews
        </th>



      </tr>

      <% @list_of_service_providers.each do |a_service_provider| %>
      <tr>


        <td>
          <%= a_service_provider.name %>
        </td>

       
          <%#= a_service_provider.address %>
        

       
          <%#= a_service_provider.neighborhoods.pluck(:name).to_sentence %>
        

        <td>
          <%#= a_service_provider.image %>
          <img src="<%= a_service_provider.image %>">
        </td>



        <td>
          <%= a_service_provider.email %>
        </td>

        <td>
          <%= a_service_provider.phone %>
        </td>

        <td>
          <%= a_service_provider.service_locations_count %>
        </td>

        <td>
          <%= a_service_provider.offerings_count %>
        </td>

        <td>
          <%= a_service_provider.reviews_count %>
        </td>



        <td>
          <a href="/service_providers/<%= a_service_provider.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
