<div>
  <div>
    <h1>
      List of all service providers
    </h1>
  </div>
</div>

<hr>



<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Image
        </th>

        <th>
          Availability
        </th>

        <th>
          Email
        </th>

        <th>
          Phone
        </th>

        <th>
          Service locations count
        </th>

        <th>
          Offerings count
        </th>

        <th>
          Reviews count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_service_providers.each do |a_service_provider| %>
      <tr>
        <td>
          <%= a_service_provider.id %>
        </td>

        <td>
          <%= a_service_provider.name %>
        </td>

        <td>
          <%= a_service_provider.address %>
        </td>

        <td>
          <%= a_service_provider.neighborhood_id %>
        </td>

        <td>
          <%#= a_service_provider.image %>
          <img src="<%= a_service_provider.image %>">
        </td>

        <td>
          <%= a_service_provider.availability %>
        </td>

        <td>
          <%= a_service_provider.email %>
        </td>

        <td>
          <%= a_service_provider.phone %>
        </td>

        <td>
          <%= a_service_provider.service_locations_count %>
        </td>

        <td>
          <%= a_service_provider.offerings_count %>
        </td>

        <td>
          <%= a_service_provider.reviews_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_service_provider.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_service_provider.updated_at) %> ago
        </td>

        <td>
          <a href="/service_providers/<%= a_service_provider.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
