<div>
  <div>
    <h1>
       <%= @the_service_provider.name %> details
    </h1>

    <div>
      <div>
        <a href="/service_providers">
          Go back
        </a>
      </div>


    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_service_provider.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_service_provider.address %>
      </dd>

      <dt>
        Neighborhoods
      </dt>
      <dd>
        <%= @the_service_provider.neighborhoods.pluck(:name).to_sentence %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
          <img src="<%= @the_service_provider.image %>">
      </dd>



      <dt>
        Email
      </dt>
      <dd>
        <%= @the_service_provider.email %>
      </dd>

      <dt>
        Phone
      </dt>
      <dd>
        <%= @the_service_provider.phone %>
      </dd>

      <dt>
        Service locations
      </dt>
      <dd>
        <%= @the_service_provider.neighborhoods.pluck(:name).to_sentence %>
      </dd>

      <dt>
        Offerings
      </dt>
      <dd>
        <%#= @the_service_provider.services.pluck(:name).to_sentence %>
        <ul>
          <% @the_service_provider.offerings.each do |offering| %>
           <li>  <%= offering.service.name %> on <%= offering.availability.strftime("%A, %d %b %Y %l:%M %p") %> </li>
          <% end %>
        </ul>
      </dd>


      <dt>
        Reviews
      </dt>
      <dd>
        <%#= @the_service_provider.reviews.pluck(:review).to_sentence %>
        <ul>
          <% @the_service_provider.reviews.each do |review| %>
           <li>  <%= review.review %> </li>
          <% end %>
        </ul>
      </dd>


    </dl>
  </div>
</div>

<hr>
<hr>

<div>
  <div>
    <h2>
      Add a new review for <%= @the_service_provider.name %>
    </h2>

    <form action="/insert_review" method="post" >
      <div>
        <label for="review_box">
          Review
        </label>

        <textarea id="review_box" name="query_review" rows="3"></textarea>
      </div>

<input type="hidden" id="service_provider_id_box" name="query_service_provider_id" value="<%= @the_service_provider.id %>">

      <button>
        Create review
      </button>
    </form>
  </div>
</div>


