<div>
  <div>
    <h1>
      <%= @the_neighborhood.name %> details
    </h1>

    <div>
      <div>
        <a href="/neighborhoods">
          Go back
        </a>
      </div>

      
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_neighborhood.name %>
      </dd>

      <dt>
        Service locations count
      </dt>
      <dd>
        <%= @the_neighborhood.service_locations_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_neighborhood.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_neighborhood.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>



